[Unit]
Description=Turntable2Sonos
After=network.target

[Service]
ExecStart=/usr/share/turntable2sonos/turntable2sonos.sh
Restart=always
User=root
RestartSec=5

[Install]
WantedBy=multi-user.target