[Unit]
Description=Turntable2Sonos
After=network.target

[Service]
ExecStart=/usr/bin/turntable2sonos
Restart=always
User=turntable2sonos
Group=turntable2sonos
RestartSec=5

[Install]
WantedBy=multi-user.target