[Unit]
Description=Turntable2Sonos
After=network.target

[Service]
ExecStart=/usr/bin/turntable2sonos
Restart=always
User=root
Group=root
RestartSec=5

[Install]
WantedBy=multi-user.target